
@{
    ViewBag.Title = "DeleteCourse";
}

<h2>DeleteCourse</h2>

<form method="post" action="">
    <p>Введите имя </p>
    <input type="text" name="Name" />
    <input type="submit" value="Отправить" />
</form>