<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Habilect.Model.Properties.Settings.habtestConnectionString"
            connectionString="Data Source=k4wg0fsc8y.database.windows.net;Initial Catalog=habtest;User ID=habtest;Password=Qwerty807968;Connect Timeout=60"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>